<!-- 15:59 <palid> npm i node wyjeb, zainstaluj piatke
15:59 <palid> u mnie z piatka smiga wszystko
16:08 <palid> https://guides.emberjs.com/v2.2.0/components/triggering-changes-with-actions/
16:08 <palid> trzeba bedzie serwisy naklepac do pobierania tych danych
16:09 <palid> https://guides.emberjs.com/v1.10.0/cookbook/helpers_and_components/spin_button_for_
 -->
{{#leaflet-map lat=lat lng=lng zoom=zoom maxZoom=maxZoom}}
  {{tile-layer url=url}}
  {{!#marker-cluster}}
    {{#each locations as |location|}}
      {{#if location.geom}}{{!#unless location.parent}}

      {{#marker-layer popupOpen=(readonly location.isOpen) lat=location.geom.coordinates.lastObject lng=location.geom.coordinates.firstObject maxWidth=900}}
        <h5 class="popup">{{location.name}}</h5>
        <div class="location-popup">{{node-list location=location}}</div>
      {{/marker-layer}}{{!/unless}}{{/if}}
    {{/each}}
  {{!/marker-cluster}}
{{/leaflet-map}}
