<table>
{{#each location.node_list as |node|}}
  <tr>
    <th class="name" colspan="2">{{node.name}}</th>
    <th class="dst">dst</th>
  </tr>
  {{#each node.conns_1 as |conn|}}
  {{#if conn.nr_1 }}
  <tr>
    <td class="src">{{conn.nr_1}}</td>
    <td class="name">{{#link-to 'node' conn.id_wezel_2.root.id}}{{conn.element_2}}{{/link-to}}</td>
    <td class="dst">{{conn.nr_2}}</td>
  </tr>
  {{/if}}
  {{/each}}
  {{#each node.conns_2 as |conn|}}
  {{#if conn.nr_2 }}
  <tr>
    <td class="src">{{conn.nr_2}}</td>
    <td class="name">{{#link-to 'node' conn.id_wezel_1.root.id}}{{conn.element_1}}{{/link-to}}</td>
    <td class="dst">{{conn.nr_1}}</td>
  </tr>
  {{/if}}
  {{/each}}
{{/each}}
</table>
