<form method="get">
  <div class="form-inline center-block">
    <div class="form-group">
    {{input type="text" value=q class="form-control" placeholder="Wprowadź fragment nazwy." autofocus="autofocus"}}
    </div>
    <button class="btn btn-primary" type="submit" {{action 'submitSearch' q}} disabled={{isDisabled}}><i class="fa fa-search"></i></button>
  </div>
</form>

{{!-- miguelcobain [5:31 PM]
@kocki:
- make search-box component trigger an action on click
- in that action, transition to the same route with different query parameters (must read guides on query params)
- with the query parameter, query your api in the model hook
- pass the model to the `map-box` component --}}