{{#if results}}
<p class="text-sccess bg-success">Znaleziono {{results.length}} elementów.</p>
<ul>
  {{#each results as |result|}}
  <li>{{#if result.geom}}{{#link-to 'node' result.id}}{{result.name}}{{/link-to}}{{else}}{{result.name}}{{/if}}
  </li>
  {{/each}}
</ul>
{{/if}}