@import "bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";

body {
	margin: 0;
	padding: 0;
}

.toolbar {
  display: block;
  float: left;
  width: 30rem;
  height: 100vh;
  padding: 1rem;
  overflow-y: auto;
}

.leaflet-container {
	// width: 80vw;
	height: 100vh;
}

h5.popup {
  font-weight: bold;
  width: 600px;
  border: 1px dottend red;
}

.location-popup {
  max-height: 70vh;
  max-width: 90vw;
  width: 350px;
  background: white;
  overflow: auto;
  clear: both;
  & th {
    border-top: 1px solid #999;
    padding-top: 3px;
  }
  & td {
    border-bottom: 1px dotted #999;
    border-right: 1px dotted #999;
    padding: 1px 5px;
    &.name {
      text-align: right;
    }
    &.src {
      text-align: right;
      font-weight: bold;
    }
  }
}
