<div class="toolbar">
  {{search-box action="doSearch" q=q}}
  {{search-result-list results=model}}
  {{outlet}}
</div>
{{map-box locations=model zoom=mapZoom maxZoom=mapMaxZoom lat=mapLat lng=mapLng}}
